.groupChild,
.text {
  position: absolute;
  top: 86px;
  left: 30px;
  
}
.groupChild {
  margin-top: -97px;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 10px;
  height: 10px;
  object-fit:cover;
}
.groupChild:hover {
  transform: scale(1.1); /* 이미지를 1.1배 확대합니다. */
  transition: transform 0.3s ease; /* 변환을 부드럽게 만듭니다. */
}
.fixedSizeImage{
  width:120px;
  height:120px;
  object-fit: cover;
}
.b,
.div {
  position: relative;
  margin-top: 15px;
  margin-left: 20px;
  left: 133px;
}
.div {
  top: 25px;
  left: 134px;
  font-size: var(--font-size-base);
}

.textParent {
  position: relative;

  margin-left: 30px;
  margin-top: 10px;
  width: auto;
  height: 110px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-inter);
  padding-bottom: 30px;
  border-bottom: solid;
  margin-bottom: 20px;
  border-color: lightgray;
}

.status {
  position: absolute;
  top: 45px;
  left: 1000px;
}

.date {
  position: absolute;
  top: 45px;
  left: 530px;
}